


cym-right-sidebar {
  .right-sidebar {
    display: grid;
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: auto;
    background: white;
    right: 0;
    overflow: hidden;
    height: var(--right-side-bar-height);
  }

  .menu-panel > div:hover {
    background-color: var(--primary-color);

  }

  .details-panel {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 20vw;
  }

  .filter {
    padding-left: var(--unit)
  }

  .tab {
    cursor: pointer;
  }

  .grid {
    display: grid;
    gap: var(--grid-gap);
  }

  .displayNone{
    display:none;
  }


}

