cym-right-sidebar {
  .right-sidebar {
    display: grid;
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: 3vw auto;
    background: white;
    right: 0;
    overflow: hidden;
    height: 85vh;
  }

  .menu-panel {
    display: grid;
    grid-template-rows: repeat(auto-fit , 40px);
    //padding: calc(var(--padding) + 0.5rem);
    gap: var(--grid-gap);
    background-color: var(--theme-color-one);
    align-items: center;
    justify-content:center;
    //border: 2px solid var(--third-background-color);
    border-top: none;
    color:var(--icon-color);
    width:var(--tiny-icon-width)
  }

  .menu-panel{
    div:hover{
      background-color:var(--primary-color);

    }

  }

  .details-panel {
    padding: var(--padding);
    overflow-y: auto;
    overflow-x: hidden;
    width: 20vw;
  }

  .tab {
    cursor: pointer;
  }

  .grid {
    display: grid;
    gap: var(--grid-gap);
  }
}
