<div class="right-sidebar">
  <!-- sidebar panel -->
  <div class="details-panel" [ngClass]="openPopUp?'':'displayNone'">
    <!--   opens on click of nodes or edges for the details-->
    <div *ngIf="items && tab === 'details'">
      <!--      <app-details [data]="items"></app-details>-->
      <cym-details [type]="type" [data]="items" [info]="items" (property)="property($event)"></cym-details>
    </div>
    <!--   opens on click of filter  from tab -->
    <div *ngIf="tab === 'filter'" class="filter">
      <p>Property</p>
      <p-autoComplete [(ngModel)]="selectedProp" [suggestions]="suggestedList" (ngModelChange)="getValue(selectedProp)"
                      (completeMethod)="search($event,this.properties)" field="name" [dropdown]="true">
        <ng-template let-options pTemplate="item">
          <div class="country-item">
            <div>{{options.name}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <p>Value</p>

      <div class="grid">
        <input type="text" pInputText [(ngModel)]="value"/>
        <cym-button [label]="'Apply'" [class]="'outlined-button'" (click)="getGraph()"></cym-button>
      </div>
      <!--      <p-autoComplete [(ngModel)]="selectedVal" [suggestions]="suggestedList" (ngModelChange)="getGraph()"-->
      <!--                      (completeMethod)="search($event,this.values)" field="name" [dropdown]="true">-->
      <!--        <ng-template let-options pTemplate="item">-->
      <!--          <div class="country-item">-->
      <!--            <div>{{options.name}}</div>-->
      <!--          </div>-->
      <!--        </ng-template>-->
      <!--      </p-autoComplete>-->
<!--      <p>Layout</p>-->
<!--      <p-dropdown [options]="layout" [(ngModel)]="selectedLayoutOpt" optionLabel="name"-->
<!--                  (ngModelChange)="layoutChange(selectedLayoutOpt)"></p-dropdown>-->

    </div>

    <div [ngClass]="tab === 'edit'?'':'displayNone'">
      <ng-content select="[panel]"></ng-content>
    </div>
  </div>
</div>
