<cym-div [cymClass]="'container'">
  <cym-div [cymClass]="'header-title'">Cymonix-IQ UI Components</cym-div>
  <cym-div [cymClass]="'grid-margin'">
    <cym-div [cymClass]="'component-header'">Toolbar Component</cym-div>
    <cym-toolbar></cym-toolbar>
  </cym-div>

<!--  <cym-div [cymClass]="'grid-container'">-->
<!--    <cym-div>-->
<!--      <cym-div [cymClass]="'component-header'">Accordion Component</cym-div>-->
<!--      <cym-accordion [data]="data"></cym-accordion>-->
<!--    </cym-div>-->
<!--    &lt;!&ndash;    <cym-div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <cym-div [cymClass]="'component-header'">Card Component</cym-div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <cym-card [propertyHeader]="cardData" [propertyFooter]="cardData">&ndash;&gt;-->
<!--    &lt;!&ndash;        <cym-div>{{cardData}}</cym-div>&ndash;&gt;-->
<!--    &lt;!&ndash;      </cym-card>&ndash;&gt;-->
<!--    &lt;!&ndash;    </cym-div>&ndash;&gt;-->
<!--  </cym-div>-->

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Divider Component</cym-div>
      <cym-div>Paragraph Divider 1</cym-div>
      <cym-divider></cym-divider>
      <cym-div>Paragraph Divider 2</cym-div>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Fieldset Component</cym-div>
      <cym-fieldset [fieldsetData]="fieldsetData" [fieldsetDataText]="fieldsetDataText">
      </cym-fieldset>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Panel Component</cym-div>
      <cym-panel [panelHeaderData]="panelHeaderData" [panelHeaderDataText]="panelHeaderDataText"></cym-panel>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Splitter Component</cym-div>
      <cym-splitter></cym-splitter>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Scroll Panel Component</cym-div>
      <cym-scroll-panel></cym-scroll-panel>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Tab View Component</cym-div>
      <cym-tab-view
      ></cym-tab-view>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-margin'">
    <cym-div [cymClass]="'component-header'">Sidebar Component</cym-div>
    <cym-sidebars></cym-sidebars>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Confirm Dialog Component</cym-div>
      <cym-confirm-dialog></cym-confirm-dialog>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Confirm Popup Component</cym-div>
      <cym-confirm-popup></cym-confirm-popup>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Dialog Component</cym-div>
      <cym-dialog [propertyMetaData]="dialogHeader">
        <cym-div class="font-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </cym-div>
      </cym-dialog>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Overlay Panel Component</cym-div>
      <cym-overlay-panel>
        Overlay Panel Text
      </cym-overlay-panel>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Dropdown Component</cym-div>
      <cym-dropdown [cities]="cities"></cym-dropdown>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Toast Component</cym-div>
      <cym-toast [position]="toastPosition">
        <!--        <p-button type="button" (click)="showSuccess()" label="Success" class="p-button-success"></p-button>-->
      </cym-toast>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Password Component</cym-div>
      <cym-password [propertyMeta]="'Name'"></cym-password>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">User Profile Component</cym-div>
      <cym-profile></cym-profile>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <!--    <cym-div>-->
    <!--      <cym-div [cymClass]="'component-header'">Card Division Component</cym-div>-->
    <!--      <cym-card-division [propertyHeader]="'Hello'">-->
    <!--        <cym-div>hello</cym-div>-->
    <!--        <cym-div>{{cardData}}</cym-div>-->
    <!--      </cym-card-division>-->
    <!--    </cym-div>-->
    <cym-div>
      <cym-div [cymClass]="'component-header'">Accordion Component</cym-div>
      <cym-accordion [data]="data"></cym-accordion>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Menu Component</cym-div>
      <cym-menu></cym-menu>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Color Picker Component</cym-div>
      <cym-color-picker [cymClass]="'color-size'"></cym-color-picker>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">File Upload Component</cym-div>
      <cym-file-upload></cym-file-upload>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Block UI Component</cym-div>
      <cym-block-ui></cym-block-ui>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Input Textarea Component</cym-div>
      <cym-input-textarea></cym-input-textarea>
    </cym-div>
  </cym-div>

  <cym-div [cymClass]="'grid-container'">
    <cym-div>
      <cym-div [cymClass]="'component-header'">Progress Bar Component</cym-div>
      <cym-progress-bar></cym-progress-bar>
    </cym-div>
    <cym-div>
      <cym-div [cymClass]="'component-header'">Breadcrumb Component</cym-div>
      <cym-breadcrumb></cym-breadcrumb>
    </cym-div>
  </cym-div>
</cym-div>




