<div class="margin">
  <h2 class="header-title">Container Widget</h2>
  <div>
    <h3 class="tool-header">Toolbar Component</h3>
    <app-ui-toolbar></app-ui-toolbar>
  </div>
  <br>
  <div class="grid-container">
    <span>
       <h3 class="tool-header">Accordion Component</h3>
      <app-ui-accordion [data]="data"></app-ui-accordion>
    </span>
    <span>
      <h3 class="tool-header">Card Component</h3>
    <app-ui-card [cardData]="cardData"></app-ui-card>
    </span>
  </div>
  <br>
  <div class="grid-container">
      <span>
      <h3 class="tool-header">Divider Component</h3>
   <h3>Paragraph Divider 1</h3>
      <app-ui-divider></app-ui-divider>
      <h3>Paragraph Divider 2</h3>
    </span>
    <div>
      <h3 class="tool-header">Fieldset Component</h3>
      <app-ui-fieldset [fieldsetData]="fieldsetData" [fieldsetDataText]="fieldsetDataText">
      </app-ui-fieldset>
    </div>
  </div>
  <br>
  <div class="grid-container">
    <div>
      <h3 class="tool-header">Panel Component</h3>
      <app-ui-panel [panelHeaderData]="panelHeaderData" [panelHeaderDataText]="panelHeaderDataText"></app-ui-panel>
    </div>
    <div>
      <h3 class="tool-header">Splitter Component</h3>
      <app-ui-splitter></app-ui-splitter>
    </div>
  </div>
  <br>
  <div class="grid-container">
    <div>
      <h3 class="tool-header">Scroll Panel Component</h3>
      <app-ui-scroll-panel></app-ui-scroll-panel>
    </div>
    <div>
      <h3 class="tool-header">Tab View Component</h3>
      <app-ui-tab-view></app-ui-tab-view>
    </div>
  </div>

</div>

