cym-top-toolbar {
  .container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 3fr auto  auto;
    align-content: center;
    align-items: center;
    padding: var(--padding);
    height: var(--base-height);
    color: var(--primary-text-color);
    gap: var(--grid-gap);
    width: var(--base-width);
    background-color: var(--theme-color-one);


  }

  .menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--border-radius);
  }

  .other-options {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: calc(var(--grid-gap)/2);
    color: var(--primary-color-text);
    align-items:center;

  }
  .lines{
    display:grid;
    grid-template-columns: auto auto  ;
    gap: calc(var(--grid-gap)/2);
    align-items:center
  }

  .three{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: calc(var(--grid-gap)/2);

  }
  .usermod {
    display: grid;
    grid-template-columns: auto auto;
    gap: 14px;
  }
  .three > div{
    padding:calc(var(--padding)/5);
  }
  .icon-height{
    height:var(--icon-height);
    width:var(--icon-width);

  }
  .line-height{
    height:1.8rem;


  }












}
