<div class="container">
  <div class="brand-logo" *ngFor="let item of sector1">
    <img [src]="item.url" alt="logo" [height]="item.height" [width]="item.width">
<!--      <img src="assets/image/Line_top_toolbar.svg" alt="">-->
  </div>
  <div class="menu">
    <div *ngFor="let item of sector2">{{item.name}}</div>
  </div>
  <div  class="three" >
      <div *ngFor="let item of sector3" >
        <img [src]="item.url" alt="" [height]="item.height" [width]="item.width">
        <!--      <cym-input *ngIf="item.type === 'searchBox'"></cym-input>-->
    </div>
  </div>
  <div class="other-options">
      <img src="assets/image/Line_top_toolbar.svg" alt="">
    <img *ngFor="let item of sector4" [src]="item.url"
         [height]="item.height" [width]="item.width" alt=""> Org name
  </div>
</div>

