.user{
  height: 30px;
  width: 30px;
  background-color: #2FB2C3;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.username{
  font-size: 14px;
  font-weight: 100;
  color: white;
  padding-top: 6px;



}
