cym-secondary-toolbar {
  .container {
    display: grid;
    grid-template-columns:8fr auto auto auto ;
    align-items: center;
    height: var(--base-height);
    color: var(--primary-text-color);
    gap: var(--unit);
    width: var(--base-width);
  }

  .breadstar{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: calc(var(--grip-gap)/2);
  }


  .horizontal{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .other-options {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--grip-gap) ;
  }

  .p-breadcrumb.p-component {
    background: none;
    border: none;
    padding:0;
  }

  .icons{
    text-align:right;
  }

}




