app-top-toolbar {
  .container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 2fr 1fr 1fr;
    align-content: center;
    align-items: center;
    padding: 1rem;
    height: var(--top-toolbar-height);
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }


}
