app-right-sidebar {
  .right-sidebar {
    display: grid;
    position: relative;
    height: var(--main-no-footer);
    grid-template-rows: auto;
    grid-template-columns: 3vw auto;
    background: white;
    right: 0;
    overflow: hidden;
  }

  .menu-panel {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: var(--unit);
    background-color: var(--primary-background-color);
    align-items: center;
    border: 2px solid var(--third-background-color);
    border-top: none;
  }

  .details-panel {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tab{
    cursor: pointer;
  }

  .grid {
    display: grid;
    gap: 1rem;
  }
}
