app-right-sidebar{
  .right-sidebar {
    display: grid;
    position: absolute;
    max-width: 30%;
    height:var(--main-no-footer);
    grid-template-rows: auto;
    grid-template-columns: 5rem auto;
    background: white;
    right: 0;
    overflow-wrap: anywhere;
  }
  .menu-panel {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--primary-background-color);
    align-items: center;
    border: 2px solid var(--third-background-color);
    border-top: none;
  }

  .details-panel {
    padding: 1rem;
  }
}
