<div class="right-sidebar">
<!--  tabs-->
  <div class="menu-panel">
    <i *ngIf="!openPopUp" (click)="open(true)" class="pi pi-arrow-left"></i>
    <i *ngIf="openPopUp" (click)="open(false)" class="pi pi-arrow-right"></i>
    <div (click)="tabs('details')" class="tab">
      <img src="assets/image/information.svg" alt="" height="15" width="15">
    </div>
    <div (click)="tabs('filter')" class="tab">
      <img src="assets/image/filter.svg" alt="" height="15" width="15">
    </div>
  </div>

<!-- sidebar panel -->
  <div class="details-panel" *ngIf="openPopUp">
<!--   opens on click of nodes or edges for the details-->
    <div *ngIf="items && tab === 'details'">
<!--      <app-details [data]="items"></app-details>-->
      <app-details></app-details>
    </div>
<!--   opens on click of filter  from tab -->
    <div *ngIf="tab === 'filter'">
      <p>Property</p>
      <p-autoComplete [(ngModel)]="selectedProp" [suggestions]="suggestedList" (ngModelChange)="getValue(selectedProp)"
                      (completeMethod)="search($event,this.properties)" field="name" [dropdown]="true" >
        <ng-template let-options pTemplate="item">
          <div class="country-item">
            <div>{{options.name}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <p>Value</p>
      <p-autoComplete [(ngModel)]="selectedVal" [suggestions]="suggestedList" (ngModelChange)="getGraph()"
                      (completeMethod)="search($event,this.values)" field="name" [dropdown]="true">
        <ng-template let-options pTemplate="item">
          <div class="country-item">
            <div>{{options.name}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <p>Layout</p>
      <p-dropdown [options]="layout" [(ngModel)]="selectedLayoutOpt" optionLabel="name" (ngModelChange)="layoutChange(selectedLayoutOpt)"></p-dropdown>
      <div>
        <p-checkbox [(ngModel)]="isFindings" [binary]="true" id="binary" (ngModelChange)="finding($event)"></p-checkbox>
        <label for="binary">Findings</label>
      </div>
    </div>
  </div>
</div>
