<div class="right-sidebar">
<!--  tabs-->
  <div class="menu-panel">
    <i *ngIf="!openPopUp" (click)="open(true)" class="pi pi-arrow-left"></i>
    <i *ngIf="openPopUp" (click)="open(false)" class="pi pi-arrow-right"></i>
    <div (click)="tabs('details')">
      <img src="assets/image/information.svg" alt="" height="20" width="20">
    </div>
    <div (click)="tabs('filter')">
      <img src="assets/image/filter.svg" alt="" height="20" width="20">
    </div>
  </div>

<!-- sidebar panel -->
  <div class="details-panel" *ngIf="openPopUp">
    <div *ngIf="nodeData && tab === 'details'">
      <div class="subtitle">Details</div>
      <app-table [data]="nodeData"></app-table>
    </div>

    <div *ngIf="tab === 'filter'">
      filter
    </div>
  </div>
</div>
