app-widget-frame {
  .frame-with-sidebar {
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows:  var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
    grid-template-areas:
      "header header "
      "sidebar main "
      "sidebar footer ";
  }

  .header-main-footer-frame {
    display: grid;
    grid-template-columns:var(--base-width);
    grid-template-rows: var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .only-main {
    display: grid;
    grid-template-columns:var(--base-width);
    grid-template-rows:  var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
    grid-template-areas:
      "."
      "main"
    "."
  }

  .header-main-frame {
    display: grid;
    grid-template-columns:var(--base-width);
    grid-template-rows: var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
    grid-template-areas:
      "header"
      "main"
  }

  .header {
    grid-area: header;
    border-bottom: calc(var(--border-width) * 2) solid var(--light-grey);
  }

  .sidebar {
    grid-area: sidebar;
    background-color: var(--light-grey);
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
    background-color: var(--grey);
  }

  //.main-split{
  //  display: grid;
  //  grid-template-columns: auto 70rem ;
  //}
  //.navbar {
  //  padding: calc(var(--unit)/2);
  //}

}
