cym-div {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .header-title {
    text-align: center;
    width: 100%;
  }

  .container {
    margin: 2rem;
  }



  .component-header {
    text-align: left;
    font-weight: bold;
  }

  .grid-margin {
    margin: 2rem;
  }

}
