@import "ui-input-text-style";
@import "ui-button-style";

//Input text
.input {
  .p-inputtext ,.p-inputtext:enabled:hover{
    @extend .ui-input-text;
    border-color: var(--primary-text-color);
  }
}

//Button
.solid-btn {
  .p-button {
    @extend .solid-button;
  }

  .p-button:enabled:hover, .p-button:enabled:active {
    @extend .solid-button;
    background: rgb(216 12 121);
    border-color: var(--primary-color);
  }
}

//outlined button
.outlined-btn {
  .p-button.p-button-outlined {
    @extend .outlined-button;
  }

  .p-button.p-button-outlined:enabled:hover, .p-button.p-button-outlined:enabled:active  {
    background: rgb(246 59 159 / 12%);
    color: var(--primary-color);
  }

}

//theme switch
.p-togglebutton.p-button, .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover,
.p-togglebutton.p-button.p-highlight, .p-togglebutton.p-button.p-highlight:hover {
  @extend .solid-button;
}

//divider

.p-divider.p-divider-horizontal {
  margin: 0;
}

.p-divider .p-divider-content {
  background: var(--background-color)
}

.p-component {
  font-family: var(--font-family);
}

.p-button:focus, .p-inputtext:enabled:focus {
  box-shadow: none;
}

button.p-ripple.p-element.p-button.p-component {
  width: 100%;
}
