/* You can add global styles to this file, and also import other styles files */
@import "ui-component-style";
@import "ui-variable";
@import "ui-input-text-style";
@import "ui-button-style";
@import "ui-content-style";
@import "../../../apps/webApp/src/assets/font/font";
@import "../../../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../../../node_modules/primeng/resources/primeng.css";
@import "../../../node_modules/primeicons/primeicons.css";

html, body {
  margin: 0;
  font-size: var(--large-screen-font); // 14px = 1rem
  font-family: var(--font-family);

}

@media screen and (max-width: 1280px) {
  html, body {
    background-size: var(--bg-image-size);
    font-size:  var(--medium-screen-font-size);
  }
}

//theme switcher
body.darkTheme {
  --background-color: var(--dark-theme);
  --primary-text-color: var(--secondary-text-color);
  background: var(--background-color);
  color: var(--primary-text-color);
  //background:var(--dark-mode-img);
}

body.lightTheme {
  //background:var(--light-mode-img);
}

a {
  text-decoration-line: none;
  color: var(--primary-color);
}

label {
  font-weight: var(--font-weight-normal);
}

