@import "ui-base-style";

.base-input-text {
  @extend .ui-base-style;
  border: var(--border-width) solid var(--primary-text-color);
  background: var(--background-color);
  width: 100%;
}

.ui-input-text {
  @extend .base-input-text;

}

.p-inputtext, .p-inputtext:enabled:hover,.p-inputtext:enabled:focus
{
  @extend .ui-input-text;
  border-color: var(--primary-text-color);
}
