:root {
  --background-color: white;
  --primary-color: #f71e88;
  --primary-dark-color: rgb(216 12 121);
  --primary-light-color: rgb(246 59 159 / 12%);
  --primary-text-color: black;
  --secondary-text-color: white;
  --border-radius: calc(var(--unit) / 2);
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --unit: 1rem;
  --font-size: 1rem;
  --large-screen-font-size: 14px;
  --medium-screen-font-size: 10px;
  --border-width: 1px;
  --font-family: 'san fransisco', Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --dark-theme: #171717;
  --dark-mode-img: url(../../../common/assets/image/dark-Mode.svg);
  --light-mode-img: url(../../../common/assets/image/light-Mode.svg);
  --bg-image-size: 1323px 804px;

}
