<app-widget-frame (isDarkTheme)="setBackground($event)">
  <div main class="grid align-center">
    <div class="grid signIn-container align-center">
      <h1 class="header name">Cymonix IQ+</h1>
      <h2 class="header title">Sign In</h2>
      <div class="form grid gap">
        <div class="grid">
          <label for="username">Email</label>
          <input pInputText id="username"/>
        </div>
        <div class="grid">
          <label for="password">Password</label>
          <input pInputText type="password" id="password"/>
          <div class="grid align-end">
            <a href="/">Forgot Password?</a>
          </div>
        </div>
        <div class="grid">
          <p-button class="button" label="Sign In"></p-button>
        </div>
        <small>By creating an account, you agree to <a href="/">condition of Use</a> and <a href="/">Privacy Policy</a>
        </small>
        <p-divider align="center">
          <small>New to Cymonix IQ+ ?</small>
        </p-divider>
        <div class="grid">
          <p-button class="button" label="Create an account" styleClass="p-button-outlined "></p-button>
        </div>
      </div>
    </div>
  </div>
</app-widget-frame>
