app-sign-in {
  .signIn-container {
    display:grid;
    justify-items: center;
    justify-content: center;
    width: 66%;
  }
  .main-container{
    display:grid;
    justify-items: center;
    justify-content: center;
  }
  .form-container{
    display: grid;
    grid-gap: var(--unit);
  }

  .termsAndCondition {
    text-align: center;
  }

  .forgot {
    text-align:end;
  }

}

