<app-widget-frame (isDarkTheme)="setBackground($event)" [frame_type]="'only-main'">
  <div main class="main-container">
    <div class="signIn-container">
      <div class="title">Cymonix IQ+</div>
      <div class="subtitle">Sign In</div>
      <div class="form-container" [formGroup]="signIn" >
        <div class="three-row-container">
          <div>
            <label for="username">Email</label>
          </div>
          <div>
            <input pInputText id="username" formControlName="email"/>
          </div>
        </div>
        <div class="three-row-container">
          <div >
            <label for="password">Password</label>
          </div>
          <div>
            <input pInputText type="password" id="password" formControlName="password"/>
          </div>
          <div class="forgot">
            <a href="/">Forgot Password?</a>
          </div>
        </div>
        <div>
          <ui-button (click)="onSubmit()"></ui-button>
        </div>
        <small class="termsAndCondition">By creating an account, you agree to <a href="/">condition of Use</a> and <a
          href="/">Privacy Policy</a>
        </small>
        <p-divider align="center">
          <small>New to Cymonix IQ+ ?</small>
        </p-divider>
        <div>
          <p-button label="Create an account" styleClass="p-button-outlined "></p-button>
        </div>
      </div>
    </div>
  </div>
</app-widget-frame>


