
app-sign-in {
  .signIn-container {
    width: 27.2rem

  }

  .termsAndCondition {
    text-align: center;
  }

  .forgot {
    padding-top: 4px;
  }

  .name {
    color: var(--primary-color);
    font-size: 3.5rem;
  }

  .title {
    font-size: 1.6rem;
  }
}

//common
.button {
  button.p-ripple.p-element.p-button.p-component {
    width: 100%;
  }
}

.grid.nav {
  justify-content: end;
  margin: 0.5rem;
}
