
app-sign-in {
  .signIn-container {
    width: calc(27.2 * var(--gap));

  }

  .name {
    color: var(--primary-color);
    font-size: calc(3.5 * var(--gap));
  }
  .title{
    font-size: calc(1.55 * var(--gap));
  }
}
//common
.button {
  button.p-ripple.p-element.p-button.p-component {
    width: 100%;
  }
}

.grid.nav {
  justify-content: end;
  margin: 0.5rem;
}
