cym-workspace-widget{
  .card{
    display: grid;
    width: var(--workspace-card-width);
    height: var(--workspace-card-height);
    background: white;
    align-items: end;
    justify-items: center;
    align-content: center;
    gap: 0.5rem;
  }

  .workspace-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,var(--workspace-card-width));
    gap: var(--unit);
    cursor: pointer;
  }
  .short-name{
    height: var(--short-name);
    width: var(--short-name);
    display: grid;
    align-items: center;
    justify-items: center;
    background: yellowgreen;
  }

}
