/* You can add global styles to this file, and also import other styles files */
@import "ui-component-style";
@import "ui-variable";
@import "ui-input-text-style";
@import "ui-button-style";
@import "ui-content-style";
@import "ui-switch";
@import "ui-frame-style";
@import "apps/webApp/src/assets/font/font";
@import "/node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "/node_modules/primeng/resources/primeng.css";
@import "/node_modules/primeicons/primeicons.css";

html, body {
  margin: 0;
  background-color: var(--primary-background-color);
  font-size: var(--large-screen-font-size); // 14px = 1rem
  font-family: var(--font-family);

}

@media screen and (max-width: 1280px) {
  html, body {
    background-size: var(--bg-image-size);
    font-size: var(--medium-screen-font-size);
  }
}

a {
  text-decoration-line: none;
  color: var(--pink1);
}

label {
  color: var(--primary-text-color);
  font-weight: var(--font-weight-normal);
}

.component-header{
  margin:var(--header-margin-bottom);
  color:var(--component-header-color);
}
.header-title{
  font-size:var( --unit2);
  color: var( --pink1);
}
.grid-container{
  grid-gap: var(--unit);
  margin: var(--unit2);
}
.header-sidebar{
  margin: var( --header-margin-bottom);
  font-weight: var(--font-weight-bold);
}
.grid-sidebar{
  grid-gap: var( --unit);
  margin:var( --unit2);
}
.grid-toolbar{
  grid-gap: var( --unit);
}




*::-webkit-scrollbar {
  width: var(--unit); /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--primary-background-color); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--third-background-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: calc(var(--unit) / 4) solid var(--primary-background-color);
}

