.ui-base-style {
  color: var(--primary-text-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  border: var(--border-width) solid;
  border-radius: var(--border-radius);
}



