@import "ui-base-style";

.base-button {
  @extend .ui-base-style;
  width: var(--base-width);
  padding: calc(var(--unit) / 1.5);
  cursor: pointer;
  font-family:var(--font-family)
}

.solid-button {
  @extend .base-button;
  color: var(--secondary-text-color);
  background-color: var(--pink1);
  border: none;
}

.grey-button {
  @extend .solid-button;
  background-color: var(--grey-color);
}

.outlined-button {
  @extend .base-button;
  color: var(--pink1);
  border: var(--border-width) solid var(--pink1);
  background: none;
  width: var(--base-width);
}

.solid-button:hover {
  @extend .solid-button;
  background-color: var(--primary-dark-color);
}

.outlined-button:hover {
  @extend .outlined-button;
  background-color: var(----primary-light-color)
}

.grey-button:hover {
  @extend .grey-button;
  background-color: var(--dark-grey-color)
}

//theme switch
.p-togglebutton.p-button, .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover,
.p-togglebutton.p-button.p-highlight, .p-togglebutton.p-button.p-highlight:hover {
  @extend .solid-button;
}



