.title {
  @extend .ui-base-style;
  font-size: var(--font60);
  color: var(--primary-text-color);
  font-weight: var(--font-weight-bold);
  border: none;
  font-family:var(--font-family-bold);
}
.subtitle{
  @extend .ui-base-style;
  font-size: var(--font24);
  font-weight: var(--font-weight-bold);
  font-family:var(--font-family-bold);
  border: none;
}
