//divider

.p-divider.p-divider-horizontal {
  margin: 0;
}

.p-divider .p-divider-content {
  background: var(--primary-background-color)
}

.p-component {
  font-family: var(--font-family);
}

.p-button:focus, .p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-sidebar.p-sidebar-active.p-sidebar-right{
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 1rem;
}
