//divider

.p-divider.p-divider-horizontal {
  margin: 0;
}

.p-divider .p-divider-content {
  background: var(--primary-background-color)
}

.p-component {
  font-family: var(--font-family);
}

.p-button:focus, .p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-sidebar.p-sidebar-active.p-sidebar-right {
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  padding: var(--padding);
}

//yfiles scrollbar
.yfiles-canvascomponent .yfiles-scrollbar.yfiles-scrollbar-vertical,
.yfiles-canvascomponent .yfiles-scrollbar.yfiles-scrollbar-vertical div,
.yfiles-canvascomponent
.yfiles-scrollbar-range.yfiles-scrollbar-range-vertical
.yfiles-scrollbar-slider,
.yfiles-canvascomponent .yfiles-scrollbar .yfiles-scrollbar-range.yfiles-scrollbar-range-vertical {
  width: 0.2rem;
}

yfiles-canvascomponent .yfiles-scrollbar.yfiles-scrollbar-horizontal,
.yfiles-canvascomponent .yfiles-scrollbar.yfiles-scrollbar-horizontal div,
.yfiles-canvascomponent
.yfiles-scrollbar-range.yfiles-scrollbar-range-horizontal
.yfiles-scrollbar-slider,
.yfiles-canvascomponent .yfiles-scrollbar .yfiles-scrollbar-range.yfiles-scrollbar-range-horizontal {
  height: 0.2rem;
}

//.yfiles-scrollbar.yfiles-scrollbar-vertical.yfiles-scrollbar-inactive {
//  display: none;
//}
.yfiles-scrollbar.yfiles-scrollbar-horizontal {
  display: none;
}

.yfiles-scrollbar-range.yfiles-scrollbar-range-vertical {
  display: none;
}

.yfiles-canvascomponent .yfiles-scrollbar .yfiles-scrollbar-range.yfiles-scrollbar-range-vertical {
  top: 0;
  bottom: 0;
}

.yfiles-scrollbar-range.yfiles-scrollbar-range-horizontal {
  left: 0;
  right: 0;
}

.yfiles-canvascomponent .yfiles-scrollbar-vertical .yfiles-button, .yfiles-canvascomponent .yfiles-scrollbar-horizontal .yfiles-button {
  display: none;
}

.yfiles-scrollbar {
  background: var(--primary-background-color);
}

.yfiles-scrollbar-slider {
  border: 0;
  background: var(--third-background-color);
  border-radius: var(--scroll-border-radius);
}

.class_otp {
  height: var(--otp-box-height) !important;
  width: var(--otp-box-height) !important;
  font-size: var(--otp-font-size) !important;

}
.p-tabview .p-tabview-panels {
  background: #ffffff;
  border: 0 none;
  padding: 0;
  color: #495057;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}


.ui-base-border-bottom {
  border-bottom: var(--active-border-bottom-size) solid white;
}
.ui-base-active-class {
  border-bottom-color: var(--primary-color);
}

