.frame-with-sidebar {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows:  var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
  grid-template-areas:
      "header header "
      "sidebar main "
      "sidebar footer ";
}

.header-main-footer-frame {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows: var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
  grid-template-areas:
      "header"
      "main"
      "footer";
}

.only-main {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows:  100vh;
  grid-template-areas:
    "main";

  .main {
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

.header-main-frame {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows: var(--top-toolbar-height) var(--main-no-footer);
  grid-template-areas:
      "header"
      "main"
}

.header-main-right-sidebar-frame {
  display: grid;
  grid-template-columns: var(--column-graph-frame);
  grid-template-rows: var(--top-toolbar-height);
  grid-template-areas:
      "header header"
      "main sidebar"

}

.header-main-menubar-frame {
  display: grid;
  grid-template-columns: var(--column-menu-frame);
  grid-template-rows: var(--top-toolbar-height);
  grid-template-areas:
      "header header"
      "main sidebar"

}

.header {
  grid-area: header;
  background-color:var(--theme-color-one);
}

.sidebar {
  grid-area: sidebar;
  color: var(--primary-text-color);
  background-color: var(--third-background-color);
}

.main {
  grid-area: main;
  color: var(--primary-text-color);
  background-color: var(--main-background);
  max-height: 100vh calc(2 * var(--top-toolbar-height));
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  color: var(--secondary-text-color);
  background-color: var(--theme-color-one);
  align-items: center;
  justify-items: center;
  display: grid;
  font-size: 0.86rem;
}

.toggle {
  width: 10rem;
}
