.frame-with-sidebar {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows:  var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
  grid-template-areas:
      "header header "
      "sidebar main "
      "sidebar footer ";
}

.header-main-footer-frame {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows: var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
  grid-template-areas:
      "header"
      "main"
      "footer";
}

.only-main {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows:  var(--top-toolbar-height) var(--main-height) var(--bottom-toolbar-height);
  grid-template-areas:
      "."
      "main"
}

.header-main-frame {
  display: grid;
  grid-template-columns:var(--base-width);
  grid-template-rows: var(--top-toolbar-height) var(--main-no-footer);
  grid-template-areas:
      "header"
      "main sidebar"
}

.header-main-right-sidebar-frame{
  display: grid;
  grid-template-columns: var(--column-graph-frame);
  grid-template-rows: var(--top-toolbar-height) var(--main-no-footer);
  grid-template-areas:
      "header header"
      "main sidebar"

}

.header-main-menubar-frame{
  display: grid;
  grid-template-columns: var(--column-menu-frame);
  grid-template-rows: var(--top-toolbar-height) var(--main-no-footer);
  grid-template-areas:
      "header header"
      "main sidebar"

}

.header {
  grid-area: header;
  border-bottom: calc(var(--border-width) * 2) solid var(--third-background-color);
  background-color: var(--primary-background-color);
  color:var(--primary-text-color);
}

.sidebar {
  grid-area: sidebar;
  color:var(--primary-text-color);
  background-color: var(--third-background-color);
}

.main {
  grid-area: main;
  color:var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.footer {
  grid-area: footer;
  color:var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.toggle{
  width: 10rem;
}
