.overview {
  position: absolute;
  top: 2.85rem;
  margin: var(--margin24);
}

#overview, #neighbour {
  width: var(--overview-neighbour-width);
  height: var(--overview-neighbour-height);
  background-color: var(--primary-background-color);
  border:1px solid var(--theme-color-one);
}

.neighbour {
  position: absolute;
  top: 20rem;
  margin: var(--margin24);

}

.hide {
  display: none;
}

.tools {
  cursor: pointer;
}

.graph-container {
  display: flex;
}

.graph-sidebar {
  height: 85vh;
  width: 80vw;
}

.graph {
  height: 85vh;
  width: 100vw;
}

#graphComponent{
  background-color:var(--main-bg-color)
}

.p-dropdown.p-component {
  background-color: var(--theme-color-one);
  border: var(--theme-color-one);

}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: none;
  color: var(--secondary-text-color);
}

.overview-neigbhour{
  display:grid;
  grid-template-rows:auto auto;
  grid-gap:var(--grid-gap)
}

span#pr_id_2_label {
  padding: 0;
  font-family: var(--font-family);

}



.panel-header {
  //font-weight: var(--font-weight-bold);
  font-size: medium;
  background: var(--theme-color-one);
  padding: var(--padding);
  color: var(--primary-color-text);
  display: flex;
  //gap: var(--unit);
  text-align:center;
}

.graph-main {
  position: relative;
}

.graph-toolbar {
  position: relative;
  top: 0;
  bottom: 0;
  height: var(--graph-top-toolbar-height);
  width: var(--base-width);
  background-color: var(--theme-color-one);
  display: inline-flex;
  align-items: center;
  padding: var(--unit);
  gap: var(--unit);
  color: var(--primary-color-text);
}

.subtitle.neighbour_description {
  position: absolute;
  top: 40px;
  display: grid;
  width: 80vw;
  justify-content: center;
}
