.overview {
  position: absolute;
  top: var(--overview-start);
  margin: var(--margin24);
}

#overview, #neighbour {
  width: var(--overview-neighbour-width);
  height: var(--overview-neighbour-height);
  background-color: var(--primary-background-color);
  border:var(--border-width) solid var(--theme-color-one);
}

.neighbour {
  position: absolute;
  top: var(--neighbour-start);
  margin: var(--margin24);

}

.hide {
  display: none;
}

.tools {
  cursor: pointer;
}

.graph-container {
  display: flex;

}

.graph-sidebar {
  height: var(--graph-sidebar-height);
  width: var(--graph-sidebar-width);
}

.graph {
  height: var(--graph-height);
  width: var(--graph-width);
}

#graphComponent{
  background-color:var(--main-bg-color)
}

.p-dropdown.p-component {
  background-color: var(--theme-color-one);
  border: var(--theme-color-one);

}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: none;
  color: var(--secondary-text-color);
}


span#pr_id_2_label , span#pr_id_3_label , span#pr_id_4_label{
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);

}



.panel-header {
  //font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  background: var(--theme-color-one);
  padding: calc(var(--padding)/1.2);
  color: var(--primary-color-text);
  display: flex;
  //gap: var(--unit);
  text-align:center;
  height:var(--panel-header-height);

}

.graph-main {
  position: relative;
}

.graph-toolbar {
  position: relative;
  top: 0;
  bottom: 0;
  height: var(--graph-top-toolbar-height);
  width: var(--base-width);
  background-color: var(--theme-color-one);
  display: inline-flex;
  align-items: center;
  padding: var(--unit);
  gap: var(--unit);
  color: var(--primary-color-text);
}

.subtitle.neighbour_description {
  position: absolute;
  top: 2.85rem;
  display: grid;
  width: 80vw;
  justify-content: center;
}
