.overview {
  position: absolute;
  top: 30px;
}

#overview, #neighbour {
  width: 175px;
  height: 175px;
  background-color: var(--primary-background-color);
}

.neighbour {
  position: absolute;
  top: 250px;
}

.hide {
  display: none;
}

.tools {
  cursor: pointer;
}

.graph-container {
  display: flex;
}

.graph-sidebar {
  height: 85vh;
  width: 75vw;
}

.graph {
  height: 85vh;
  width: 100vw;
}

#graphComponent{
  background-color:var(--main-bg-color)
}

.panel-header {
  font-weight: var(--font-weight-bold);
  font-size: medium;
  background: var(--primary-color);
  padding: 1rem;
  color: var(--primary-color-text);
  display: flex;
  gap: var(--unit);
  text-align:center;
}

.graph-main {
  position: relative;
}

.graph-toolbar {
  position: relative;
  top: 0;
  bottom: 0;
  height: var(--graph-top-toolbar-height);
  width: 100%;
  background-color: var(--theme-color-one);
  display: inline-flex;
  align-items: center;
  padding: var(--unit);
  gap: var(--unit);
  color: var(--primary-color-text);
}

