@import "ui-base-style";

.base-input-text {
  @extend .ui-base-style;
  border: var(--border-width) solid var(--primary-text-color);
  background: var(--primary-background-color);
  width: var(--base-width);
}

.ui-input-text {
  @extend .base-input-text;

}
.three-row-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: calc(var(--unit) / 3);
  width: var(--base-width);
}

.p-inputtext, .p-inputtext:enabled:hover, .p-inputtext:enabled:focus {
  @extend .ui-input-text;
  border-color: var(--primary-text-color);
}
