:root {
  --primary-background-color: white;
  --main-bg-color: #EBEDEF;
  --primary-color: #2FB2C3;
  --primary-dark-color: #2896a4;
  --red: #FF0000;
  --pink2: #f1a7b4;
  --pink3: #f7d8e3;
  --primary-light-color: rgb(246 59 159 / 12%);
  --primary-text-color: #292E3A;
  --secondary-text-color: white;
  --third-background-color: rgb(232, 232, 232);
  --secondary-background-color: #e7e7e7;
  --border-radius: calc(var(--unit) / 2);
  --grey-color: grey;
  --dark-grey-color: #727272;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --unit: 1rem;
  --base-width: 100%;
  --font-size: 1rem;
  --large-screen-font-size: 14px;
  --medium-screen-font-size: 10px;
  --border-width: 1px;
  --font-family: 'san-fransisco', Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-bold: 'san-fransisco-bold', Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --dark-theme: #171717;
  --bg-image-size: 1323px 804px;
  --top-toolbar-height: 7vh;
  --column-graph-frame: 80vw 20vw;
  --column-menu-frame: 97vw 3vw;
  --graph-top-toolbar-height: 3rem;
  --bottom-toolbar-height: 7vh;
  --main-height: calc(100vh - (var(--top-toolbar-height) + var(--bottom-toolbar-height)));
  --main-no-footer: calc(100vh - (var(--top-toolbar-height)));
  --sidebar-width: 15rem;

  --component-header-color: rgb(214 27 119 / 51%);
  --header-margin-bottom: 0 0 1rem 0;

  --theme-color-one: #292E3A;
  --theme-color-two: #2FB2C3;


}
