:root {

  //font size-
  --unit: 1rem;
  --font-size: var(--unit);
  --font-size8:0.571rem;
  --font-size10:0.714rem;
  --font-size12: 0.857rem;
  --font-size16 : 1.142rem;
  --font22: 1.571rem;
  --font56: 4rem;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 1000;
  --large-screen-font-size: 14px;
  --medium-screen-font-size: 10px;
  --font-family: 'JamGrotesque-Regular', Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-bold: 'JamGrotesque-Bold', Roboto Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  //background color-
  --primary-background-color: white;
  --main-background: #EBEDEF;
  --secondary-background-color: #e7e7e7;

  //theme color-
  --primary-color: #2FB2C3;
  --primary-dark-color: #2896a4;
  --theme-color-one: #292E3A;
  --theme-color-two: #2FB2C3;

  //validation error color-
  --red: #FF0000;

  //text color-
  --primary-text-color: black;
  --secondary-text-color: white;

  //grid gap-
  --grid-gap: var(--unit);
  --grid-gap16: 1.142rem;

  //padding-
  --padding: var(--unit);
  --padding24: 1.714rem;

  //margin-
  --margin: var(--unit);
  --header-margin-bottom: 0 0 1rem 0;
  --margin24: 1.6rem;

  //overview and neighbour -
  --overview-neighbour-width: 14rem;
  --overview-neighbour-height: 10rem;
  --overview-start: 0.7rem;
  --neighbour-start: 15rem;

  //graph-tool-bar-height-
  --graph-tool-bar-height: 2.857rem;
  --graph-toolbar-icon-hover: #f5f5f5;

  //graph-sidebar -
  --graph-sidebar-height: 85vh;
  --graph-sidebar-width: 80vw;
  --graph-height: calc(var(--main-height-seconadry) - var(--top-toolbar-height));
  --graph-width: 100vw;

  //right-side-bar-
  --right-side-bar-height: 85vh;

  //toolbars:
  --secondary-toolbar-height: 2.14rem; //(30px)
  --top-toolbar-height: 2.85rem; //(40px)
  --bottom-toolbar-height: 2.14rem; //(30px)

  //icon-related-styles//
  --icon-height-toolbar: 1.571rem; // 22x for launch pad and workspace
  --icon-width-toolbar: 1.571rem; // 22x for launch pad and workspace
  --tiny-icon-height: 2.857rem;
  --tiny-icon-width: 2.857rem;
  --icon-color: white;
  --icon-box-size: 2.85rem;
  --line-color:#B6B6B6;
  --graph-tool-icon-height: 1.42rem;// graph icon
  --graph-tool-icon-width: 1.42rem;

  //breadcrumbs related styles//
  --breadcrumb-toolbar-bgcolor: #FFFFFF;
  --breadcrumb-font-color: #585858;
  --breadcrumb-icon-size: 0.785rem;
  --breadcrumb-icon-color: #585858;
  --secondary-tool-icon-height: 0.785rem;
  --secondary-tool-icon-width: 0.785rem;
  --breadcrumb-arrow-color : #a6a6a6;

  //graph tool bar related styles
  --graph-toolbar-bgcolor: #FFFFFF;
  --graph-toolbar-font-color: #585858;
  --graph-toolbar-icon-color: #585858;
--graph-top-toolbar-height: 3rem;

  //menu-right-toolbar-
  --right-toolbar-height: 30px;
  --right-toolbar-width: 30px;

  //otp box related styles
  --otp-box-height: 3.5rem;
  --otp-box-width: 3.5rem;
  --otp-font-size: 1.5rem;

  //border related styles
  --border-width: 1px;
  --border-radius: calc(var(--unit) / 2);
  --scroll-border-radius :1.428rem;

  //header related styles
  --panel-header-height:2.857rem;
  --accordian-header-height:2.857rem;

  //card related styles
  --vertical-cards-loop: calc(var(--unit) * 15);
  --card-height: calc(var(--unit) * 11);
  --card-division-img-size: 6rem; //launchpad page
  --workspace-card-width: 14rem; // workspace page
  --workspace-card-height: 12rem;
  --short-name: 4rem;

  //logged-in-user  icon related styles
  --logged-in-user-height : 1.714rem;
  --logged-in-user-width : 1.714rem;
  --logged-in-user-font12 : 0.857rem ;
  --logged-in-user-div1 : 1.785rem;
  --logged-in-user-div2 : 0.5rem;
  --circle-border-radius:50%; // for logged in user icon

  //chevron right arrow styles
  --chevron-height: 0.714rem;
  --chevron-width : 0.714rem;





  --sidebar-width: calc(var(--unit)*15);
  --pink2: #f1a7b4;
  --pink3: #f7d8e3;
  --primary-light-color: rgb(246 59 159 / 12%);
  --third-background-color: rgb(232, 232, 232);

  --grey-color: #e6e6e6;
  --icon-grey: #585858;
  --dark-grey-color: #727272;
  --base-height: 100%;
  --base-width: 100%;

  --dark-theme: #171717;
  --bg-image-size: 1323px 804px;

  --column-graph-frame: 80vw 20vw;
  --column-menu-frame: 97vw 3vw;



  --main-height: calc(100vh - (var(--top-toolbar-height) + var(--bottom-toolbar-height)));
  --main-height-seconadry: calc(100vh - (var(--top-toolbar-height) + var(--bottom-toolbar-height) + var(--secondary-toolbar-height)));
  --main-no-footer: calc(100vh - (var(--top-toolbar-height)));
  --component-header-color: rgb(214 27 119 / 51%);


  --active-border-bottom-size: 0.285rem;
  --divider-border-size: 0.285rem;


  --signin-container-width: 27.2rem;

  --three-row-container-column-width: 7.42rem;



}
