cym-bottom-toolbar {
  .container {
    display: grid;
    height: var(--bottom-toolbar-height);
    grid-template-columns:4fr 1fr;
    grid-gap: var(--unit);
    padding-right: var(--unit);
  }
  .right-toolbar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 1rem;
  }
}
