//@font-face {
//  font-family: 'san-fransisco';
//  src: url(../font/san-fransisco/otf/SFNSDisplay-Regular.otf) format("opentype");
//}
//@font-face {
//  font-family: 'san-fransisco-bold';
//  src: url(../font/san-fransisco/otf/SFNSText-BoldG3.otf) format("opentype");
//
//}

@font-face {
  font-family: 'JamGrotesque-Regular';
  src: url(../font/jam-grotesque/JamGrotesque-Regular.otf) format("opentype");
}


@font-face {
  font-family: 'JamGrotesque-Bold';
  src: url(../font/jam-grotesque/JamGrotesque-Bold.otf) format("opentype");

}
