<app-widget-frame [frame_type]="'only-main'">
  <div main class="main-container">
    <div class="signIn-container">
      <div class="title">Cymonix IQ+</div>
      <div class="subtitle">Sign Up</div>
      <div class="form-container">
        <ui-input [propertyMeta]="propertyMeta.email"></ui-input>
        <ui-input [propertyMeta]="propertyMeta.accName"></ui-input>
        <ui-button [label]="'Verify Email Address'" [class]="'solid-button'"></ui-button>
        <ui-otp></ui-otp>
        <ui-checkbox></ui-checkbox>
        <ui-input-switch></ui-input-switch>
        <p-divider align="center">
          <small>Already have an acoount?</small>
        </p-divider>
        <ui-button [label]="'Sign In'" [class]="'outlined-button'"></ui-button>
      </div>
    </div>
  </div>
</app-widget-frame>
