<cym-widget-frame [frame_type]="'only-main'">
  <div main class="main-container">
    <div class="signIn-container">
      <div class="title">Cymonix IQ+</div>
      <div class="subtitle">Sign Up</div>
      <div class="form-container">
        <cym-input [propertyMeta]="propertyMeta.email"></cym-input>
        <cym-input [propertyMeta]="propertyMeta.accName"></cym-input>
        <cym-button [label]="'Verify Email Address'" [class]="'solid-button'"></cym-button>
        <cym-otp></cym-otp>
        <cym-checkbox></cym-checkbox>
        <cym-input-switch></cym-input-switch>
        <p-divider align="center">
          <small>Already have an acoount?</small>
        </p-divider>
        <cym-button [label]="'Sign In'" [class]="'outlined-button'"></cym-button>
      </div>
    </div>
  </div>
</cym-widget-frame>
