<app-widget-frame [frame_type]="'only-main'">
  <div main class="main-container">
    <div class="signIn-container">
      <div class="title">Cymonix IQ+</div>
      <div class="subtitle">Sign Up</div>
      <div class="form-container">
        <div class="three-row-container">
          <div>
            <label>Email</label>
          </div>
          <div>
            <input pInputText/>
          </div>
        </div>
        <div class="three-row-container">
          <div>
            <label>Account name</label>
          </div>
          <div>
            <input pInputText />
          </div>
        </div>
        <div class="forgot">
          <a href="/">Forgot Password?</a>
        </div>
        <div>
          <ui-button [label]="'Verify Email Address'" [class]="'solid-button'"></ui-button>
        </div>
        <p-divider align="center">
          <small>Already have an acoount?</small>
        </p-divider>
        <div>
          <ui-button [label]="'Create an account'" [class]="'outlined-button'" ></ui-button>
        </div>
      </div>
    </div>
  </div>
</app-widget-frame>
