cym-sign-up-widget {
  .signIn-container {
    display: grid;
    width: var(--signin-container-width);
    gap: var(--grid-gap);
  }

  .main-container {
    display: grid;
    justify-items: center;
    justify-content: center;
  }

  .form-container {
    display: grid;
    grid-gap: var(--grid-gap);
  }

  .termsAndCondition {
    text-align: center;
  }

  .forgot {
    text-align: end;
  }

  .subtitle, .title {
    text-align: center;
  }
}
