<div id="graphComponent">
  <div class="top-toolbar">
    <div (click)="toggle()">
      <img src="assets/image/overview.svg"  height="20" width="20" alt="overview">
    </div>
    <div (click)="zooIn()">
      <img src="assets/image/zoomIn.svg"  height="20" width="20" alt="overview">
    </div>
    <div (click)="zoomOut()">
      <img src="assets/image/zoomOut.svg"  height="20" width="20" alt="overview">
    </div>
    <div (click)="fitcontent()">
      <img src="assets/image/fit.svg"  height="20" width="20" alt="overview">

    </div>
  </div>
  <div class="container" [ngClass]="!visible?'hide':''">
    <div class="header">Overview</div>
    <div>
      <div id="overview"></div>
    </div>
  </div>
</div>
