<div class="main">
  <div class="top-toolbar">
    <div *ngFor="let tool of toolBarItems">
      <div (click)="clickEvent(tool)" class="tools">
        <img [src]="tool.icon" [alt]="tool.toolName" height="20" width="20">
      </div>
    </div>
  </div>
  <div class="graph-container">
    <div id="graphComponent" #graphComponent [ngClass]="this.isFilterOpen?'graph-sidebar':'graph'">
    </div>
    <app-right-sidebar [details]="selectedItem" [data]="data" (filterGraph)="refreshData($event)" (isRightSidebarOpen)="setFrame($event)">
    </app-right-sidebar>
  </div>

  <div class="overview">
      <div class="container" [ngClass]="!visible || !graphComponent?'hide':''">
        <div class="header">Overview</div>
        <div>
          <div id="overview" #overViewComponent></div>
        </div>
      </div>
  </div>

</div>
