<div id="graphComponent">
  <div class="container">
    <div class="header" (click)="toggle()">Overview</div>
    <div [ngClass]="!visible?'hide':''">
      <div id="overview"></div>
    </div>
  </div>
  <!--  <p-dialog class="fraud-popup" [(visible)]="openPopUp" >-->
  <!--    <div id="fraud"></div>-->
  <!--  </p-dialog>-->
  <p-dialog class="popup" [(visible)]="openPopUp">
    <div class="edgeDetails">
      <div class="keys">
        <div *ngFor="let key of itemKeys">
          <div>{{key}}</div>
        </div>
      </div>
      <div class="values">
        <div *ngFor="let val of itemValues">
          <div>{{val}}</div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

