<p-toolbar>

  <ng-content></ng-content>
<!--  <div class="p-toolbar-group-start">-->
<!--    <div class="grid-toolbar">-->
<!--      <span><p-button label="New" icon="pi pi-plus" class="mr-2"></p-button></span>-->
<!--      <span><p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button></span>-->
<!--      <span> <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i></span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="p-toolbar-group-end">-->
<!--    <div class="grid-toolbar">-->
<!--      <span><p-button icon="pi pi-search" class="mr-2"></p-button></span>-->
<!--      <span><p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button></span>-->
<!--      <span><p-button icon="pi pi-times" styleClass="p-button-danger"></p-button></span>-->
<!--    </div>-->
<!--  </div>-->
</p-toolbar>
