cym-graph {

  .header {
    font-weight: var(--font-weight-bold);
    font-size: medium;
    background: (var(--theme-color-one));
    padding: 1rem;
    color: var(--primary-color-text);
    display: flex;
    gap: var(--unit)
  }

  .main {
    position: relative;
  }

  .top-toolbar {
    position: relative;
    top: 0;
    bottom: 0;
    height: var(--graph-top-toolbar-height);
    width: 100%;
    background-color: var(--theme-color-one);
    display: inline-flex;
    align-items: center;
    padding: var(--unit);
    gap: var(--unit);
  }
}
