<div class="main">
  <div class="top-toolbar">
    <div *ngFor="let tool of toolBarItems">
      <div (click)="clickEvent(tool)" class="tools">
        <img [src]="tool.icon" [alt]="tool.toolName" height="20" width="20">
      </div>
    </div>
  </div>
  <div class="graph-container">
    <div id="graphComponent" #graphComponent [ngClass]="this.isFilterOpen?'graph-sidebar':'graph'">
    </div>
    <cym-right-sidebar [details]="selectedItem" [data]="data" (filterGraph)="refreshData($event)"
                       (isRightSidebarOpen)="setFrame($event)">
    </cym-right-sidebar>
  </div>

  <cym-overview>
    <div id="overview" overview #overViewComponent></div>
  </cym-overview>

</div>
