cym-launchpad-widget {
  .grid {
    display: grid;
    height: var(--main-height);
    width: var(--column-graph-frame);
    justify-items: center;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 3fr  auto auto;
    width: var(--base-width);
    align-content: center;
    align-items: center;
    //padding: var(--padding);
    height: var(--top-toolbar-height);
    color: var(--secondary-text-color);
    //gap: var(--grid-gap);
  }
  .icon-grey{
    color: var(--icon-grey);
  }

  .graph-container {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .secondary-tool{
    background-color:var(--main-background);
  }




}
