<cym-widget-frame [frame_type]="'header-main-footer-frame'">
  <cym-top-toolbar header></cym-top-toolbar>
  <cym-div main >
    <cym-div [cymClass]="'secondary-toolbar'">
      <cym-secondary-toolbar></cym-secondary-toolbar>
    </cym-div>

    <cym-div [cymClass]="'card-main'">
      <cym-card *ngFor="let tool of launchpad" [cymClass]="'header-content'" >
        <cym-div header [cymClass]="'card-header'">{{tool.name}}
        </cym-div>
        <cym-div card-content [cymClass]="'icon-grey'" *ngIf="tool?.description">{{tool.description}}</cym-div>
        <cym-div card-content [cymClass]="'card-divisions'">
          <cym-card-division *ngFor="let sub of tool.subGroup;index as i" [cymClass]="'launchpad-cards'"
                             [cardDetails]="sub"
                             (cardClickEvent)="showGraph($event)" >
          </cym-card-division>
        </cym-div>
      </cym-card>
    </cym-div>
  </cym-div>
  <cym-div footer>Copyright - Cymonix - 2023</cym-div>
</cym-widget-frame>
