cym-launchpad-widget {
  .grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
  }

  .container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 3fr 1fr auto auto;
    width: var(--base-width);
    align-content: center;
    align-items: center;
    padding: 1rem;
    height: var(--top-toolbar-height);
    color: var(--primary-text-color);
    gap: var(--unit);
    background-color: black;
  }

  .graph-container {
    display: grid;
    justify-items: center;
    align-items: center;
  }


}
