<div class="details-container" *ngFor="let item of data">
  <div *ngIf="type!=='editor'">
    <div *ngFor="let header of getHeader(item)">
      <div *ngIf="typeOf(item[header])==='string'" class="details">
        <div class="subtitle label">{{header}}</div>
        <div>{{item[header]}}
        </div>
      </div>
      <div *ngIf="typeOf(item[header])==='object'">
        <div *ngFor="let i of item[header]">
          <div *ngFor="let groups of getHeader(i)">
            <div class="subtitle label group">{{readable(groups)}}</div>
            <div *ngFor="let group of i[groups]">
              <div *ngFor="let groupItem of getHeader(group)" class="table">
                <div class="capitalize">{{readable(groupItem)}}</div>
                <div>{{group[groupItem]}}
                  <div *ngIf="isSeverity(groupItem)"
                       [ngStyle]="getStyleForSeverity(item,groupItem)" class="indicator"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type === 'editor'">
  <div class="details-container" *ngIf="info[0].source">
    <div class="title label">EDGE</div>
    <div class="details">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['label']">
      </div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Source</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['sourceLabel']">
      </div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Target</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['targetLabel']">
      </div>
    </div>
    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(edgeForm)"></cym-button>
    </div>
  </div>
  <div class="details-container" *ngIf="!info[0].source">
    <div class="title label">NODE</div>
    <div class="details">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="nodeForm['label']">
      </div>
    </div>
    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(nodeForm)"></cym-button>
    </div>
  </div>
</div>
