<div *ngIf="type !== 'editor'">
  <div class="details-container" *ngFor="let item of data">
    <div *ngFor="let header of headers">
      <div class="row_padding">
        <div class="subtitle label">{{header}}</div>
        <div>{{item[header]}}
          <div *ngIf="isSeverity(header)"
               [ngStyle]="getStyleForSeverity(item,header)" class="indicator"></div>
        </div>
      </div>

      <cym-divider></cym-divider>

    </div>
  </div>
</div>

<div *ngIf="type === 'editor'">
  <div class="details-container" *ngIf="info[0]?.source && info[0]?.id">
    <div class="title label">EDGE</div>
    <div class="grid">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="grid">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['label']">
      </div>
    </div>
    <div class="grid">
      <div class="subtitle label">
        <div>Source</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['sourceLabel']">
      </div>
    </div>
    <div class="grid">
      <div class="subtitle label">
        <div>Target</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['targetLabel']">
      </div>
    </div>
    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(edgeForm)"></cym-button>
    </div>
  </div>
  <div class="details-container" *ngIf="!info[0]?.source && info[0]?.id">
    <div class="title label">NODE</div>
    <div class="grid">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="grid">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="nodeForm['label']">
      </div>
    </div>
    <div class="grid">
      <div>
        <cym-button [class]="'solid-button'" [label]="'Add property'" (click)="addForm()"></cym-button>
      </div>
      <div class="grid" *ngFor="let value of nodeForm['properties'];let i=index">
        <div>
          <div class="subtitle label">
            <div>Name *</div>
          </div>
          <input pInputText type="text" [(ngModel)]=" nodeForm['properties'][i]['key']">
        </div>
        <div>
          <div class="subtitle label">
            <div>Type *</div>
          </div>
          <p-dropdown [options]="typeOptions" [(ngModel)]="nodeForm['properties'][i]['type']"
                      [placeholder]="'select type'" optionLabel="option" optionValue="value"></p-dropdown>
        </div>
        <div>
          <div class="subtitle label">
            <div>Default</div>
          </div>
          <input pInputText type="text" [(ngModel)]=" nodeForm['properties'][i]['default']">
        </div>

      </div>
    </div>

    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(nodeForm)"></cym-button>
    </div>
  </div>
</div>
