<div class="details-container" *ngFor="let item of data">
  <div *ngFor="let header of headers">
    <div class="subtitle label">{{header}}</div>
    <div>{{item[header]}}
      <div *ngIf="isSeverity(header)"
           [ngStyle]="getStyleForSeverity(item,header)" class="indicator"></div>
    </div>
</div>
</div>

<div *ngIf="type === 'editor'">
  <div class="details-container" *ngIf="info[0].source">
    <div class="title label">EDGE</div>
    <div class="details">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['label']">
      </div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Source</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['sourceLabel']">
      </div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Target</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="edgeForm['targetLabel']">
      </div>
    </div>
    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(edgeForm)"></cym-button>
    </div>
  </div>
  <div class="details-container" *ngIf="!info[0].source">
    <div class="title label">NODE</div>
    <div class="details">
      <div class="subtitle label">
        <div>Id</div>
      </div>
      <div>{{info[0].id}}</div>
    </div>
    <div class="details">
      <div class="subtitle label">
        <div>Label</div>
      </div>
      <div>
        <input pInputText type="text" [(ngModel)]="nodeForm['label']">
      </div>
    </div>
    <div>
      <cym-button [class]="'solid-button'" [label]="'Apply'" (click)="submit(nodeForm)"></cym-button>
    </div>
  </div>
</div>
