  .observable{
    display:grid;
    grid-template-columns: 7fr auto ;
    padding:calc(var(--padding)/2);
    align-items: center;
    font-size:var(--font-size12)

}

  .observable-content{
    text-align: left;
  }

  .observable-ondate{
    font-size: var(--font-size10);
  }

