<!--<div [class]="cymClass">-->
<!--  <div class="task">-->
<!--    <div class="task-section1">-->
<!--      <div class="task-data-label">-->
<!--        {{taskData.title}}-->
<!--      </div>-->
<!--      <div class="task-data">-->
<!--        {{taskData.description}}-->
<!--      </div>-->
<!--    </div >-->
<!--   <div class="task-section2">-->
<!--     <div class="task-duedate">-->
<!--       {{taskData.end_date}}-->
<!--     </div>-->
<!--     <div class="task-name">Assigned to:{{taskData.assigned_to}}</div>-->
<!--   </div>-->
<!--  </div>-->
<!--  <cym-divider></cym-divider>-->
<!--</div>-->


<div [class]="cymClass">
  <div class="task">
    <div class="task-title"> <b>{{taskData.title}}</b></div>
    <div class="date-container">
      <div class="date-badge"> {{taskData.end_date}}</div>
    </div>
    <div> {{taskData.description}} </div>
    <div class="assigned-to"> Assigned to :{{taskData.assigned_to}}</div>
  </div>
  <cym-divider></cym-divider>
</div>


