


  //.task{
  //  display: grid;
  //  grid-template-columns: 7fr  3fr;
  //  padding:calc(var(--padding)/2);
  //  align-items: center;
  //  font-size: var(--font-size12);
  //
  //}
  //.task-section1{
  //  display: grid;
  //  grid-template-rows: 4fr 6fr;
  //  align-items: center;
  //  padding:calc(var(--padding)/2);
  //  gap:calc(var(--grid-gap)/2);
  //}
  //.task-section2{
  //  display: grid;
  //  text-align: center;
  //  align-items: center;
  //  //padding:calc(var(--padding)/2);
  //  gap:calc(var(--grid-gap)/5);
  //}
  //.task-duedate{
  //  background-color: yellow;
  //  text-align: center;
  //  padding:calc(var(--padding)/2);
  //
  //}
  //
  //.task-data-label{
  //  font-weight: var(--font-weight-bold);
  //
  //}


  .task{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 2rem ;
    text-align: left;
    padding:1rem;


  }

  .task-title{
    display:grid;
    align-items :end;
  }

  .task-date{
    display:grid;
    align-items: center;
    text-align: center;
    background-color: yellow;
  }

  .task-assigned{
    text-align: center;

  }




