
<section [class]="getClass(frame_type)">
  <header class="header" *ngIf="getClass(frame_type)!== 'only-main'">
    <ng-content select="[header]"></ng-content>
  </header>
  <div class="sidebar">
    <ng-content select="[sidebar]"></ng-content>
  </div>
  <main class="main">
    <ng-content select="[main]"></ng-content>
  </main>
  <footer class="footer">
    <ng-content select="[footer]"></ng-content>
  </footer>
  <cym-block-ui [blockedDocument]="this.isBlocked"></cym-block-ui>
  <div class="progress-bar-class" *ngIf="this.isBlocked">
    <cym-progress-bar></cym-progress-bar>
  </div>
</section>

<!---->
