<section [class]="getClass(frame_type)">
  <cym-block-ui [blockedDocument]="this.isBlocked"></cym-block-ui>
  <div class="progress-bar-class" *ngIf="this.isBlocked">
    <cym-progress-bar></cym-progress-bar>
  </div>
  <header class="header" *ngIf="getClass(frame_type)!== 'only-main'">
    <!--      theme changer  -->
    <!--        <div class="toggle">-->
    <!--          <p-toggleButton [(ngModel)]="checked" onLabel="Dark" offLabel="Light" (click)="toggleTheme()"></p-toggleButton>-->
    <!--        </div>-->

    <ng-content select="[header]"></ng-content>
  </header>
  <div class="sidebar">
    <ng-content select="[sidebar]"></ng-content>
  </div>
  <main class="main">
    <ng-content select="[main]"></ng-content>
  </main>
  <footer class="footer">
    <ng-content select="[footer]"></ng-content>
  </footer>
</section>

<!---->
