
app-sign-in {
  .signIn-container {
    width: 50%;

  }

  .name {
    color: var(--primary-color);
    font-size: calc(2.5 * var(--gap)) //2 * 1rem
  }
}
//common
button.p-ripple.p-element.p-button.p-component {
  width: 100%;
}

