cym-graph-editor {

  .drag-and-drop-panel {
    width: var(--base-width);
    display: grid;
    grid-template-columns: repeat(6, auto);
  }

  span#pr_id_5_label {
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }

  .p-accordion .p-accordion-content {
    padding: 0;
  }

  .p-accordion-header-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    text-decoration: none;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
