<div class="graph-main">
  <div class="graph-toolbar">
    <div *ngFor="let tool of toolBarItems">
      <div (click)="clickEvent(tool)" class="tools">
        <img [src]="tool.icon" [alt]="tool.toolName" [height]="tool.height" [width]="tool.width">
      </div>
    </div>
  </div>
  <div class="graph-container">
    <div id="graphComponent" #graphContainer [ngClass]="this.isFilterOpen?'graph-sidebar':'graph'">
    </div>
    <cym-right-sidebar [type]="'editor'" [showDetails]="showDetails" [details]="selectedItem"
                       (edgeNodeProperty)="changeEdgeNode($event)" (isRightSidebarOpen)="setFrame($event)">
      <div panel>
        <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let item of dragDropElements;let i=index" [header]="item.headers">
          <div class="drag-and-drop-panel" [id]="'item'+i"></div>
        </p-accordionTab>
        </p-accordion>
      </div>
    </cym-right-sidebar>

  </div>

  <cym-overview>
    <div id="overview" #overViewComponent overview></div>

  </cym-overview>

  <div class="neighbour">
    <div class="container">
      <div class="panel-header">
        <p-dropdown [options]="neighboursOptions" [(ngModel)]="selectedNeighbour"
                    (ngModelChange)="getNeighbourGraph(selectedNode)" optionLabel="name"
                    optionValue="value"></p-dropdown>
        <img src="assets/image/fullscreen.svg" *ngIf="!isFullscreen" alt="" (click)="switch(true)" class="tools">
        <img src="assets/image/undo.svg" height="20" width="20" alt="" *ngIf="isFullscreen" (click)="switch(false)"
             class="tools">
      </div>
      <div>
        <div id="neighbour" #neighbour></div>
      </div>
    </div>
  </div>
  <div class="subtitle neighbour_description" *ngIf="isFullscreen">NeighbourHood for {{selectedNode.tag.label}}</div>
</div>
