<div class="main">
  <div class="top-toolbar">
    <div *ngFor="let tool of toolBarItems">
      <div (click)="clickEvent(tool)" class="tools">
        <img [src]="tool.icon" [alt]="tool.toolName" [height]="tool.height" [width]="tool.width">
      </div>
    </div>
  </div>
  <div class="graph-container">
    <div id="graphComponent" #graphContainer [ngClass]="this.isFilterOpen?'graph-sidebar':'graph'">
    </div>
    <cym-right-sidebar [type]="'editor'" [isItemClicked]="isItemClicked" [details]="selectedItem"
                       (edgeNodeProperty)="changeEdgeNode($event)" (isRightSidebarOpen)="setFrame($event)">
      <div id="drag-and-drop-panel" panel #panel></div>
    </cym-right-sidebar>
  </div>

  <div class="overview">
    <div class="container">
      <div class="header">Overview</div>
      <div>
        <div id="overview" #overViewComponent></div>
      </div>
    </div>
  </div>

  <div class="neighbour">
    <div class="container">
      <div class="header">Neighbourhood</div>
      <div>
        <div id="neighbour" #neighbour></div>
      </div>
    </div>
  </div>

</div>
