cym-graph-editor {

  .drag-and-drop-panel {
    width: 20vw;
    display: grid;
    grid-template-columns: repeat(4, 4.5vw);
  }

  span#pr_id_3_label  {
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }
}
