
cym-dashboard-widget {
  .popup {
    .p-dialog {
      display: flex;
      flex-direction: column;
      pointer-events: auto;
      max-height: var(--base-height);
      width: 100vw;
      transform: scale(1);
      position: relative;
    }
  }

  .dash-tool-container {
    div{
      height: var(--graph-tool-bar-height);
    }
    display: grid;
    grid-template-columns: 2.5fr 5.5fr 2.5fr; // purposefull
    background-color: var(--graph-toolbar-bgcolor);
    width: var(--base-width);
    text-align: center;
    color:var(--graph-toolbar-font-color)
  }



  .graph-tool-icons {
    div {
      display: grid;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--icon-box-size));
    align-items: center;
    justify-content: center;

  }
  .set-icon {
    height: var(--graph-tool-icon-height);
    width: var(--graph-tool-icon-width);
  }



  .tab-container {
    display: grid;
    grid-template-columns:0.54fr 1fr 1fr 1fr;
    align-items: center;
  }


  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;  //Accordian box on focus
  }
  .close-right-sidebar {
    @extend .tab-container;
    grid-template-columns: 3rem;
    justify-content: end;
  }

  .secondary-tool{
    background-color:var(--breadcrumb-toolbar-bgcolor);
  }

}


