<app-widget-frame [frame_type]="this.frameType">
  <div header>
  </div>

  <div main>
    <ui-button (click)="viewContainer()" label="Containers"></ui-button>
    <div class="schema-toolbar">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>SCHEMA</span>
          </ng-template>
          <app-graph [layout]="layout" [data]="schema"></app-graph>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span>EXPLORER</span>
          </ng-template>
          <app-graph [layout]="layout" [data]="data" (refreshGraph)="refreshGraph($event)"></app-graph>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span>EDITOR</span>
          </ng-template>
          <app-graph-editor></app-graph-editor>
        </p-tabPanel>
<!--        <p-tabPanel header="Header II">-->
<!--          <ng-template pTemplate="header">-->
<!--            <span>Container</span>-->
<!--          </ng-template>-->
<!--        </p-tabPanel>-->

      </p-tabView>
    </div>
  </div>
<!--  <div sidebar>-->
<!--    <app-right-sidebar [data]="copyData" [details]="details" [filterOptions]='filterOptions'-->
<!--                       (selectedLayout)="sendLayout($event)" (filterGraph)="refreshGraph($event)"-->
<!--                       (filterByFinding)="getFindings($event)" (isRightSidebarOpen)="getFrameType($event)"></app-right-sidebar>-->
<!--  </div>-->
</app-widget-frame>
