<cym-widget-frame [frame_type]="'header-main-frame'">
  <div header>
  </div>

  <div main>
    <div class="schema-toolbar">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span (click)="getSchemaData()">SCHEMA</span>
          </ng-template>
          <cym-graph [layout]="layout" [data]="schema"></cym-graph>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span (click)="getGraphData()">EXPLORER</span>
          </ng-template>
          <cym-graph [layout]="layout" [data]="explorer" (findingsClicked)="loadFindings($event)"
                     (refreshGraph)="refreshGraph($event)"></cym-graph>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span>EDITOR</span>
          </ng-template>
          <cym-graph-editor></cym-graph-editor>
        </p-tabPanel>
      </p-tabView>
    </div>

    <p-dialog [modal]="true" *ngIf="openFindingsPopup" [(visible)]="openFindingsPopup" (onHide)="openFindingsPopup =false" class="popup">
      <ng-template pTemplate="header">
        <span class="subtitle">Findings for {{selectedFindings.label}}</span>
      </ng-template>
      <cym-graph [data]="findingsGraph"></cym-graph>
    </p-dialog>

    <p-toast></p-toast>
  </div>
</cym-widget-frame>
