<cym-widget-frame [frame_type]="'header-breadcrumbs-main-footer-frame'">
  <cym-top-toolbar header></cym-top-toolbar>
  <cym-secondary-toolbar breadcrumbs [breadcrumbItems]="breadcrumbItems"
                         [CymSecondaryToolbar]="'secondary-tool'"></cym-secondary-toolbar>
  <div main>
    <cym-div [cymClass]="'dash-tool-container'">
      <div class="three-tab-container">
        <div (click)="tabType=0; getSchemaData()" [ngClass]="tabType === 0?'active-class':''"> Model</div>
        <div (click)=" tabType=1; getGraphData()" [ngClass]="tabType === 1?'active-class':''"> Explorer</div>
        <div (click)="tabType = 2;editor()" [ngClass]="tabType === 2?'active-class':''"> Editor</div>
      </div>

      <div class="graph-tool-icons">
        <div *ngFor="let tools of toolBarItems" pTooltip="{{tools.toolTip}}" tooltipPosition="bottom">
          <div (click)="selectedTool(tools)">
            <img [src]="tools.icon" [alt]="tools.toolName" [height]="tools.height"
                 [width]="tools.width" class="set-icon">
          </div>
        </div>
      </div>
      <div [ngClass]="isRightSidebarOpen?'tab-container':'close-right-sidebar'">
        <div class="graph-tool-icons" *ngIf="isRightSidebarOpen" (click)="toggleRightSidebar(isRightSidebarOpen)">
          <div>
            <img
              src="assets/image/rightArrow.svg" alt="" class="set-icon">
          </div>
        </div>
        <div  class="graph-tool-icons" *ngIf="!isRightSidebarOpen" (click)="toggleRightSidebar(isRightSidebarOpen)">
          <div>
            <img
              src="assets/image/left-arrow.svg" alt="" class="set-icon">
          </div>
        </div>
        <div *ngFor="let tools of rightTab;let i=index">
          <div *ngIf="isRightSidebarOpen" (click)="rightSidebarTabs(tools.tab);" [ngClass]="setActive(tools.tab)" class="rightTab">
            <img [src]="tools.icon" [alt]="tools.toolName" class="set-icon">
          </div>
        </div>
      </div>
    </cym-div>
    <div>
      <cym-graph *ngIf="tabType===0" [layout]="layout" [data]="schema" [onClickRightSidebar]="isRightSidebarOpen"></cym-graph>
      <cym-graph *ngIf="tabType===1" [layout]="layout" [data]="explorer" (findingsClicked)="loadFindings($event)"
                 (refreshGraph)="refreshGraph($event)"></cym-graph>
      <cym-graph-editor *ngIf="tabType===2" [onClickRightSidebar]="isRightSidebarOpen"></cym-graph-editor>
    </div>
    <p-dialog [modal]="true" *ngIf="openFindingsPopup" [(visible)]="openFindingsPopup"
              (onHide)="openFindingsPopup =false" class="popup">
      <ng-template pTemplate="header">
        <span class="subtitle">Findings for {{selectedFindings.label}}</span>
      </ng-template>
      <cym-graph [data]="findingsGraph"></cym-graph>
    </p-dialog>

    <p-toast></p-toast>
  </div>
  <cym-div footer>Copyright - Cymonix - 2023</cym-div>
</cym-widget-frame>





